/* subAdBox.css */

#subAdBox {width: 100%; height: 320px;
	padding:30px 90px; box-sizing: border-box;
	background-color:#ff0066;
}

	#subAdBox > h2 {float:left;
	width: 244px; height: 260px;
	margin-left:150px;
	background-color: #ccc;
	}

	.ad_con{float:left;
		width: 425px; height: 140px;
		background-color: #aa8;
	}