/* leica_lensmenu_mob_h */

@media screen and (min-width: 640px) and (max-width: 1023px){
	/* design data : 640px */

	/* #headBox=================================== */
	#headBox {
    position: relative;
  }
   .unb {display: none;}

   .gnb {
     float:right;
     width: 170px; height: 60px;
    }
    
    .btn_area_01,
    .btn_area_02 {
      float:left;
      width: 50px; height: 100%;
      margin-right: 10px;
    }
    .gnb .button_01 {
      width: 100%; height: 100%;
    }
    .button_01 i {
      font-size: 2rem;
      color:#fff;
    }

    .gnb .button_02 {
      position: relative;
      width: 100%; height: 100%;
    } 
    .button_02 i {
      font-size: 2rem;
      color:#fff;
    }
    .searchBox.action {
      position: absolute; left: 0;
      display: block;
      width: 320px; width: 100vw; max-width: 639px; height: 100%;
      padding: 10px;
      border:1px solid #fff;
      box-sizing: border-box;
      background-color: #111;
    }
    .searchBox p {
      width: 100%; height: 100%;
      border-radius: 1rem;
      line-height: 40px;
      background-color: #fff;
    }
    .searchBox i {
      float:left;
      margin: 0 10px;
      line-height: 40px;
    }

    .pull {
      float:right;
      display: block;
      width: 50px; height: 100%;
    }
    .pull i {
      color:#fff;
      font-size: 2rem;
    }
    .gnbBox {
      width: 100%; height: auto;
      background-color: #111;
    }
    .menu {
      display:none;
      position: absolute; top: 0; left: 100%;
      float:right;
      width: 70%; height: 1000px;
      background-color: #111;
    }
     .menu.action {
       display: block;
    } 
    .unbBox {
      width: 100%; height: 80px;
      padding: 10px; box-sizing: border-box;
    }
    .unbBox dt {
      float:left;
    }
    .unbBox a {
      display: block;
      width: 100%; height: 100%;
    }

    .login,
    .join {
      float:left;
      width: 40%; height: auto;
      padding:5px 10px; box-sizing: border-box;
      border-radius: 1rem;
      background-color: #fff;
      color:#111;
      text-align: center;
      font-size: 0.9rem;
      font-weight: bold;
    }
    
     .login,
    .join.action {
      background-color:#d42027; 
      font-weight: bold;
    } 
     .menu dd  li.action{
      color:#d42027;
      font-weight: bold;
    }

    .login {margin-right: 5%;}

    .unbBox button {
      float: right;
      width: 30px; height: 30px;
    }
    .unbBox button i {
      color:#fff;
      font-size: 2rem;
    }
    .menu dt {
      width: 100%; height: 50px;
      padding: 10px; box-sizing: border-box;
      border-bottom: 1px solid #fff;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: capitalize;
      color:#fff;
    }
    .menu dt a {
      display: block;
      width: 100%; height: 100%;
    }

    .menu dd {
      /* display:none; */
      width: 100%; height: auto;
      font-size: 0.8rem;
    }
    .menu dd > ul li {
      width: 100%; height: auto;
      padding: 10px; box-sizing: border-box;
      color:#bfbfbf;
    }
    .menu dd > ul li a {
      display: block;
      width: 100%; height: 100%;
    }

    .camera_dd,
    .lens_dd {
      width: 100%; height: auto;
    }

    .camera_bg,
    .lens_bg {
      width: 100%; height: auto;
    }
    .camera_menu,
    .lens_menu {
      width: 100%; height: auto;
    }
    .camera_menu li,
    .lens_menu li {
      width: 100%; height: auto;
      padding: 10px; box-sizing: border-box;
      color:#bfbfbf;
    }
    .camera_menu li a,
    .lens_menu li a {
      display: block;
      width: 100%; height: 100%;
    }


    .menu li:hover dd {
      display: block;
      color:#d42027;
    }
    .menu li dd:hover {
      color:#d42027;
    }
    .pull {display: block; }
    .pull:hover+.gnbBox .menu,
    .pull:focus+.gnbBox .menu {
      /* display: block; */
      color:#d42027;
    }
    .menu dt.action a {
      color:#d42027; 
      font-weight: bold;
      font-size: 1.5rem;
    }
    .menu dd  li.action{
      color:#d42027;
      font-weight: bold;
		}
		
		


/* viewBox ========================================= */
#viewBox {
  height: auto;
  padding: 10% 8%; box-sizing: border-box;
}
#viewBox h2	{
  font-size: 3rem;
}
.lensBox {
  width: 100%; height: 100%;
  background-color: #fff;
}
.lensBox ul {
  width: 100%; height: 100%;
}
.lensBox li {
  float:left;
  width: 28%; height: 400px;
  /* height: 14.648438vw; */
  margin-right:8%;
  margin-bottom: 30%;
  
  
}
.lensBox li:nth-child(3n) {
  margin-right:0;
}
.lensBox li a {
  display: block;
  width: 100%; height: 100%;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.lensBox li a:hover,
.lensBox li a:focus {
  background-size: 120%;
  transition: all 300ms ease;
}
.lens_text {
  float:left;
  width: 100%; height: 50%;
  margin-bottom: 10%;
  text-align: center;
}



.lens_01 {background-image: url('../../../img/l5.jpg');}
.lens_02 {background-image: url('../../../img/l3.jpg');}
.lens_03 {background-image: url('../../../img/l4.jpg');}
.lens_04 {background-image: url('../../../img/l2.jpg');}
.lens_05 {background-image: url('../../../img/l1.jpg');}
.lens_06 {background-image: url('../../../img/l6.jpg');}
.lens_07 {background-image: url('../../../img/l9.jpg');}
.lens_08 {background-image: url('../../../img/l8.jpg');}
.lens_09 {background-image: url('../../../img/l12.jpg');}
.lens_10 {background-image: url('../../../img/l11.jpg');}
.lens_11 {background-image: url('../../../img/l10.jpg');}
.lens_12 {background-image: url('../../../img/l7.jpg');}

/* 모달 윈도우  ----------------------------------------------------- */



.lens_modal {
  display: none;
  position: fixed;
  top: 0; left: 0; z-index: 1500;
  width: 100%; height: 100%;
}

.lens_big {
  position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;
  width: 600px; height: 600px;
  border: 1rem solid #fff; box-sizing: border-box;
  background-color: #fff;
  border-radius: 0.7rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.8);
}
.close_btn {
  position: absolute; left: -2rem; top: -2rem;
  width: 4rem; height: 4rem;
  border: 0.3rem solid #fff;
  box-sizing: border-box;
  background-color: #333;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.8);
  border-radius: 100%;
}
.close_btn > button {
  position: relative;
  display: block;
  width: 100%; height: 100%;
  border-radius: 100%;
}

/* 닫기버튼 호버, 포커스시 모양 변함 */
.close_btn > button:before,
.close_btn > button:after {
  content:""; display: block;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0; margin: auto;
  width: 70%; height: 4px;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 500ms ease;
}
.close_btn > button:before {
  transform:rotate(45deg);
}
.close_btn > button:after {
  transform:rotate(-45deg);
}
.close_btn > button:hover:before,
.close_btn > button:focus:before {
transform:rotate(360deg) translateY(-8px);
}
.close_btn > button:hover:after,
.close_btn > button:focus:after {
  transform:rotate(360deg) translateY(8px);
}

.big_bg {
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.3);
}


/* #menuBox====================================== */
#menuBox {
	height: auto;
	padding: 25px 10px; box-sizing: border-box;
}
.menu_area {
	width: 100%; height: 70%;
	background-color: #111;
}
.bottom_menu dl {
	width: 100%; height: auto;
}
#menuBox dt {
	width: 100%; height: 40px;
	border-bottom: 1px solid #fff;
	padding:5px; box-sizing: border-box;
	background-color: #111;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1.2rem;
	color:#fff;
}
.bottom_menu dd {
	display: none;
	width: 100%; height: auto;
}
.bottom_menu dd > ul {
	width: 100%; height: auto;
}
.bottom_menu dd > ul > li {
	display:block;
	width: 100%; height: auto;
}
.bottom_menu a {
	display: block;
	width:100%; height:100%;
}

.bottom_menu dt:hover a, 
.bottom_menu dt:focus a{color:#d42027;}

.bottom_menu li:hover dd {display:block; color:#fff;}
.bottom_menu li dd a:hover {color:#d42027;}

.snsBox {
	float:right;
	width: 120px; height: 80px;
	background-color: #111;
}
.snsBox > ul {
	width: 100%; height: 100%;
	background-color: #15a;
}
.snsBox ul li {
	float:left;
	width: 50%; height: 100%;
	margin-bottom:10px;
	background-color: #111;
}
.facebook {
	display: block;
	width: 100%; height: 100%;
	background-image: url('../../../img/leica-icon/facebook.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.instagram {
	display: block;
	width: 100%; height: 100%;
	background-image: url('../../../img/leica-icon/instagram.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/* #footBox=================================== */
#footBox {
	padding:10px; box-sizing: border-box;
}
#footBox p {
	text-align: center;
	font-size: 0.7rem;
	color:#fff;
}
}