/* leicamain_base */
/* body{width:1005; overflow-x: hidden;} */

#wrap {width: 100%; height: auto;
   /* overflow-x: hidden; */
  }
h1 {
  float: left;
  width: 60px; height: 60px;

}
 h1 a {
  display: block;
  width: 100%; height: 100%;
  background-image: url('../../../img/logo1.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
 }

h2 {
  text-align: center; 
  font-size: 2rem; font-weight: bold; 
  text-transform: capitalize;
}

#headBox {position: fixed; top: 0; left: 0; z-index: 1000;
          width:100%; height: 60px;
          padding: 0 10px; box-sizing: border-box;
          background-color: #111;}

.searchBox {display: none; position: relative;}
.searchBox input{float: right; width: 100%; height: 100%; border-radius: 50px; }
.searchBox button {position: absolute; top: 55%; right: 10px; transform: translateY(-50%); font-size: 1.5rem;}


/* #pull{display:none; float: right; 
  width: 60px; height: 60px; margin-left: 10px; text-align: center; 
  border-radius: 5px; line-height: 60px;background-color: #fcfcfc; } */

#viewBox_01 {width:100%; background-color:#fff;}

#viewBox_02 {width:100%; background-color: #fff;}

#bestBox {width:100%; background-color: #fff;}

#akaBox {width:100%; background-color: #111;}
#akaBox .aka_btn:hover,
#akaBox .aka_btn:focus {
  background-color: rgba(212,32,39,0.7);
}

#storeBox {width:100%; background-color: #111;}

#menuBox {width:100%; background-color: #111;}

#footBox {width:100%; height: 180px;/* height: 53.125vw;*/
  background-color: #111;
}
#footBox h3 {
  width: 100%; height: 90px;
  background-image: url('../../../img/logo1.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#footBox h3 span {
  display: none;
}