/* leicamain_tab.css */


@media screen and (min-width: 1024px) and (max-width: 1439px){
  /* design data : 1024px */

  #headBox {
    position: relative;
    width: 100%; height: 90px;
  }
  h1 {
    width: 90px; height: 90px;
  }

   .btn_area_02 {display: none;}
   .unbBox {display: none;}
   .unb {
     float: right;
     margin-top: 10px;
     width: 30%; height: 16px;
   }
   .unb ul {
     width: 100%; height: 100%;
   }
   .unb li {
     float: left;
     width: 25%; height: 100%;
     background-color: #111; 
     color:#fff;
     text-align: center;
     font-weight: bold;
     font-size: 0.8rem;
   }
   .unb li:hover {
     color: #d42027;
   }
   .unb li i {
     color: #fff;
   }
   .unb li i:hover{
    color: #d42027;
   }

   .pull,
   .pull i {
     display: none;
   }

   .gnbBox {
     float:left;
     margin-left: 8%;
     margin-top: 12px;
     display: block; 
     width: 80%; height: 50px;
    }
   .menu {
     width: 100%; height: auto;
     min-height: 40px;
     background-color: #111;
    }
   .menu > li {
     float: left;
     width: 16%; height: 40px;
     min-height: 40px;
    }
    

    

    /* --------------------------------------------------------- */

   .menu dl {
     width: 100%; height: auto;
     text-align: center;
     color: #fff;
    }
   .menu dt {
     width: 100%; height: 40px;
     padding: 5px; box-sizing: border-box;
     font-weight: bold;
     font-size: 1.2rem;
     text-transform: capitalize;
     color: #fff;
    }
   .menu li:last-child dt{border-right: 0;}

   /* .menu dd {
     display: none;
     width: 100%; height: auto;

   } */



    /* 카메라 렌즈 사진 메뉴----------------------------------------------------------- */

   /* .camera_dd,
   .lens_dd {
     display: block;
     width: 100%; height: auto;
   } */

   .camera_bg {
    display: none;
    position: absolute; left: 0; top: 85%;
    width: 1024px; width: 100vw; height: 262px;
    padding: 1%; box-sizing: border-box;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
  }

  /* .camera_full,
    .lens_full {
      width: 100%; height: 100%;
      background-color: #d42027;
    } */
  
  .camera_menu {
    width: 100%; height: 100%;
  }
  .camera_bg ul li {
    float: left;
    width: 25%; height: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .camera_menu li span {
    text-align: center;
    color:#111;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 16;
  }

  .camera_con_01 {background-image: url('../../../img/camera0.png');}
  .camera_con_02 {background-image: url('../../../img/camera1.png');}
  .camera_con_03 {background-image: url('../../../img/camera2.png');}
  .camera_con_04 {background-image: url('../../../img/camera3.png');}
  .camera_con_05 {background-image: url('../../../img/camera4.png');}
  .camera_con_06 {background-image: url('../../../img/camera5.png');}
  .camera_con_07 {background-image: url('../../../img/camera6.png');}
  .camera_con_08 {background-image: url('../../../img/camera7.png');}

  .lens_bg {
    display: none;
    position: absolute; left: 0; top: 85%;
    width: 1024px; width: 100vw; height: 150px;
    padding: 1%; box-sizing: border-box;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
  }
  .lens_menu {
    width: 100%; height: 100%;
  }
  .lens_menu li {
    float: left;
    width: 20%; height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .lens_menu li span {
    text-align: center;
    color:#111;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 18;
  }
  .lens_con_01 {background-image: url('../../../img/camera0.png');}
  .lens_con_02 {background-image: url('../../../img/l5.jpg');
  background-size: 40%;}
  .lens_con_03 {background-image: url('../../../img/l1.jpg');
  background-size: 50%;}
  .lens_con_04 {background-image: url('../../../img/l9.jpg');
  background-size: 40%;}
  .lens_con_05 {background-image: url('../../../img/l7.jpg');
  background-size: 50%;}

  /* .camera_bgbg,
  .lens_bgbg {
    width: 100%; height: 100%;
  } */


  /* -------------------------------------------- */



   .menu .menu_bg {
     width: 100%; height: auto;
     display: none;
    }
   .menu dd > .menu_full {
     width: 100%; height: 100%;
     background-color: #111;
    }
   .menu dd > .menu_full li {
     width: 100%; height: 40px;
     padding: 5px; box-sizing: border-box;
    }
   .menu a {
     display: block; 
     width: 100%; height: 100%; 
     background-color: transparent; 
     font-size: 1rem;
     line-height: 40px;
    }
    .menu dd > ul li a {
      font-size: 0.8rem;
    }

    .menu dt.action a {
      color:#d42027; 
      font-weight: bold;
      font-size: 1.2rem;
    }
    .menu dd  li.action{
      color:#d42027;
      font-weight: bold;
      font-size: 0.8rem;
    }
   /* .menu a:hover,
   .menu a:focus{font-weight: bold; color: #fff; color: #d42027;}
   .menu li:hover dd{display: block;} */
   
   
  .btn_area_01 {
    position: absolute; bottom: 10px; right: 0;
    width: 66px; height: 40px;
    margin-top:-20px;
    line-height: 50px;
  }
  .button_01 i {
    font-size: 1.5rem;
    color:#fff;
  }
  .searchBox.action {
    position: absolute; top: 50px; right: 0;
    display: block;
    width: 300px; height: 60px;
    padding: 10px;
    border:1px solid #fff;
    box-sizing: border-box;
    background-color: #111;
  }
  .searchBox p {
    width: 100%; height: 100%;
    border-radius: 1rem;
    line-height: 40px;
    background-color: #fff;
  }
  .searchBox i {
    float:left;
    margin: 0 10px;
    line-height: 40px;
  }
  

/* #viewBox_01================================================= */
  #viewBox_01 {
    height: 700px; height: 68.359375vw;
    min-height: 700px; max-height: 849px;
  }
  #viewBox_01 .view_img {
    width: 100%; height: 80%;
    background-color: #fff;
    background-image: url('../../../img/view_img.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }
  .p1 {
    margin: 5px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
  }
  #viewBox_01 p {
    margin: 20px 0;
    text-align: center;
  }
  .view_btn {
    width: 240px; height: 30px;
    margin:auto;
    margin-bottom: 30px;
  }
  .view_btn li {
    width: 120px; height: 30px;
    padding:2px; box-sizing: border-box;
    border-radius: 30px;
    background-color: #111;
    color:#fff;
    line-height: 30px;
  }
  .view_btn li:nth-child(1) {
    float: left;
    font-weight: bold;
    text-align: center;
  }
  .view_btn li:nth-child(2) {
    float: right;
    width: 80px;
    font-weight: bold;
    text-align: center;
  }

  .view_btn li:hover,
  .view_btn li:focus {
    background-color: rgba(0,0,0,0.7);
  }


/* #viewBox_02=================================== */
  #viewBox_02 {
    height: 700px; height: 68.359375vw;
    min-height: 700px; max-height: 849px;
  }
  #viewBox_02 .view_img {
    width: 100%; height: 80%;
    background-color: #fff;
    background-image: url('../../../img/view_02_img_.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }
  #viewBox_02 p {
    margin: 20px 0;
    text-align: center;
  }



/* #bestBox=================================== */
#bestBox {
  height: 800px; height: 78.125vw;
  max-height: 1000px;
  /* min-height: 500px; max-height: 600px; */
  padding: 5%; box-sizing: border-box;
}
#bestBox h2 {
  margin:3% 0;
}
  .camera_area {
    width: 100%; height: 40%;
  }
  .lens_area {
    width: 100%; height: 40%;
  }
  #bestBox ul {
    width: 100%; height: 100%;
  }
  #bestBox li {
    float:left;
    width: 30%; height: 100%;
    /* max-height: 150px; */
    margin-left: 5%;
    margin-bottom: 30px;
    background-color: #fff;
  }
  #bestBox li:first-child {
    margin-left: 0;
  }

  .camera {
    display: block;
    width: 100%; height: 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }
  .camera_01 {background-image: url('../../../img/best_img_01.png');}
  .camera_02 {background-image: url('../../../img/best_img_02.png');}
  .camera_03 {background-image: url('../../../img/best_img_03.png');}

  .camera_text {
    width: 100%; height: 20%;
  }


  .camera_area dt {
    margin-top: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .camera_area dd {
    font-size: 1rem;
    text-align: center;
  }

  .lens {
    display: block;
    width: 100%; height: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }
  .lens_01 {background-image: url('../../../img/best_lens_01.jpg');}
  .lens_02 {background-image: url('../../../img/best_lens_02.jpg');}
  .lens_03 {background-image: url('../../../img/best_lens_03.jpg');}

  .lens_area dt {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .lens_area dd {
    font-size: 1rem;
    text-align: center;
  }


/* #akaBox=================================== */
  #akaBox {
    height: 600px; max-height: 799px;
  }
  #akaBox h2 {
    margin: 10px 0;
    color:#fff;
  }
  .aka_area_01,
  .aka_area_02 {
    float:left;
    width: 50%; height: 80%;
  }
  .aka_area_02 {
    float: right;
  }
  
  #akaBox li {
    width: 100%; height: 100%;
    background-color: #111;
  }
  .aka_img_01 {
    position: relative;
    background-image: url('../../../img/aka9.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }
  .aka_img_02 {
    position: relative;
    background-image: url('../../../img/aka_img_02.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }
  .aka_01 {
    position: absolute; top: 60%; left: 0;
    width: 100%; height: 60px;
    padding:0 10px; box-sizing: border-box;
  }
  #akaBox dt {
    width: 80%; height: 30px;
    background-color: #111;
    color:#fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: capitalize;
  }
  #akaBox dd {
    width: 80%; height: 30px;
    background-color: #111;
    color:#fff;
    font-size: 0.4rem;
    line-height: 30px;
  }

  #akaBox .aka_btn {
    float:right;
    width: 50px; height: 50px;
    margin-top:-54px;
    border-radius: 50%;
    background-color: #d42027;
    text-align: center;
  }
  .aka_btn a {
    display: block;
    width: 100%; height: 100%;
    text-align: center;
    line-height: 50px;
  }


/* #storeBox=================================== */
#storeBox {
  position: relative;
  height: 500px; 
  min-height: 500px; max-height: 500px;
  padding: 20px; box-sizing: border-box;
  margin-bottom: 100px;
}

#storeBox h2 {
/* margin:10px 0 10px; */
color:#fff;
}
.store_btn {
position: absolute; left: 5%; top: 70%;
z-index: 300;
width: 90%; height: 0;
margin-top: -95px;
}
.store_btn button {
float: left;
width: 30px; height: 30px;
}
.store_btn button.next {
float: right;
}
/* ----------------------------------------------- */

.store_indicator {
position: absolute; bottom:0; left:50%;
z-index: 300;
width: 100%; height:auto;
text-align: center;
padding:0.2rem; box-sizing: border-box;
transform:translateX(-50%);
}

.store_indicator ul {	
display:inline-block;
}
.store_indicator li { 
float: left; 
width:50px; height:8px;
/* margin-right:1rem;  */
}
/* .store_indicator li:nth-child(5),
.store_indicator li:nth-child(6),
.store_indicator li:nth-child(7) {
display: none;
} */
.store_indicator li:last-child{ margin-right: 0;}

.store_indicator a {
  display: block;
  width: 100%; height: 100%; 
  /* border-radius:1.5rem;  */
  background-color: #fff;	
  outline:0;
}
             

.store_indicator a:hover,
.store_indicator a:focus,
.store_indicator li.active a {
background-color: #d42027;
}
/* ------------------------------------- */


.store_container {
  position: absolute; top: 20%; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}

.store_container ul {
  width: 700%; height: 100%;
  background-color: #111;
}
.store_container ul li {
  float: left;
  width: 4.8%;
  /* margin-left: 1%; */
  height: 60%;
  padding: 0.5%; box-sizing: border-box;
}
/* .store_container ul li:last-child {
  margin-left: 0;
} */

.store_container li a {
  display: block;
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 100% auto;
}

.store_container ul li.store_img_01 a {background-image: url('../../../img/store5.jpg');}
.store_container ul li.store_img_02 a {background-image: url('../../../img/store2.jpg');}
.store_container ul li.store_img_03 a {background-image: url('../../../img/store6.jpg');}
.store_container ul li.store_img_04 a {background-image: url('../../../img/store4.jpg');}
.store_container ul li.store_img_05 a {background-image: url('../../../img/store3.jpg');}
.store_container ul li.store_img_06 a {background-image: url('../../../img/store7.jpg');}
.store_container ul li.store_img_07 a {background-image: url('../../../img/store1.jpg');}


  .store_container li span {
    width: 100%; height: 60px;
    text-align: center;
    line-height: 550px; height: 171.875vw;
    color:#fff;
  }



/* #menuBox=================================== */
  #menuBox {
    position: relative;
    height: 400px; height: 39.0625vw;
    max-height: 600px;
  }
  .bottom_menu {
    /* float: left; */
    width: 100%; height: 100%;
    margin:auto;
    padding: 5% 10%; box-sizing: border-box;
  }
  .bottom_menu li {
    float:left;
    width: 23%; height: 10%;
  }
  .bottom_menu dl {
    width: 100%; height: 100%;
  }
  .bottom_menu dt {
    height: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    color:#d42027;
  }
  .bottom_menu dd {
    width: 100%; height: 700%;
  }
  .bottom_menu dd ul {
    width: 100%; height: 100%;
  }
  .bottom_menu dd ul li {
    float:left;
    width: 100%; height: 20%;
    margin-bottom: 10px;
    font-weight: lighter;
    text-transform: capitalize;
    color:#fff;
  }
  
  .menu_area dt.action a 
    { color:#d42027; font-weight: bold; }
    .menu_area dd li.action{
      color:#d42027;
      font-weight: bold;
    }
  .bottom_menu a {
    display: block;
    width: 100%; height: 100%;
  }
  
  .snsBox {
    position: absolute; top: 20%; right: 10%;
    float:right;
    width: 80px; height: 140px;
    background-color: #111;
  }
  .snsBox > ul {
    width: 100%; height: 100%;
  }
  .snsBox ul li {
    float:left;
    width: 100%; height: 50%;
    margin-bottom:10px;
    background-color: #111;
  }
  .snsBox ul li a:hover,
  .snsBox ul li a:focus {
    border-radius: 2.5rem;
    border:2px solid #d42027;
  }
  
  .facebook {
    display: block;
    width: 100%; height: 100%;
    background-image: url('../../../img/leica-icon/facebook.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .instagram {
    display: block;
    width: 100%; height: 100%;
    background-image: url('../../../img/leica-icon/instagram.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }



/* #footBox=================================== */
#footBox {
  padding:20px; box-sizing: border-box;
}
#footBox p {
  text-align: center;
  font-size: 1rem;
  color:#fff;
}

/* @media end */
}