/* leica_info_tab.css */

@media screen and (min-width: 1024px) and (max-width: 1439px){
	/* design data : 1024px */

	#headBox {
    position: relative;
    width: 100%; height: 90px;
  }
  h1 {
    width: 90px; height: 90px;
  }

   .btn_area_02 {display: none;}
   .unbBox {display: none;}
   .unb {
     float: right;
     margin-top: 10px;
     width: 30%; height: 16px;
   }
   .unb ul {
     width: 100%; height: 100%;
   }
   .unb li {
     float: left;
     width: 25%; height: 100%;
     background-color: #111; 
     color:#fff;
     text-align: center;
     font-weight: bold;
     font-size: 0.8rem;
   }
   .unb li:hover {
     color: #d42027;
   }
   .unb li i {
     color: #fff;
   }
   .unb li i:hover{
    color: #d42027;
   }

   .pull,
   .pull i {
     display: none;
   }

   .gnbBox {
     float:left;
     margin-left: 8%;
     margin-top: 12px;
     display: block; 
     width: 80%; height: 50px;
    }
   .menu {
     width: 100%; height: auto;
     min-height: 40px;
     background-color: #111;
    }
   .menu > li {
     float: left;
     width: 16%; height: 40px;
     min-height: 40px;
    }
    

    

    /* --------------------------------------------------------- */

   .menu dl {
     width: 100%; height: auto;
     text-align: center;
     color: #fff;
    }
   .menu dt {
     width: 100%; height: 40px;
     padding: 5px; box-sizing: border-box;
     font-weight: bold;
     font-size: 1.2rem;
     text-transform: capitalize;
     color: #fff;
    }
   .menu li:last-child dt{border-right: 0;}

   /* .menu dd {
     display: none;
     width: 100%; height: auto;

   } */



    /* 카메라 렌즈 사진 메뉴----------------------------------------------------------- */

   /* .camera_dd,
   .lens_dd {
     display: block;
     width: 100%; height: auto;
   } */

   .camera_bg {
    display: none;
    position: absolute; left: 0; top: 85%;
    width: 1024px; width: 100vw; height: 262px;
    padding: 1%; box-sizing: border-box;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
  }

  /* .camera_full,
    .lens_full {
      width: 100%; height: 100%;
      background-color: #d42027;
    } */
  
  .camera_menu {
    width: 100%; height: 100%;
  }
  .camera_bg ul li {
    float: left;
    width: 25%; height: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .camera_menu li span {
    text-align: center;
    color:#111;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 16;
  }

  .camera_con_01 {background-image: url('../../../img/camera0.png');}
  .camera_con_02 {background-image: url('../../../img/camera1.png');}
  .camera_con_03 {background-image: url('../../../img/camera2.png');}
  .camera_con_04 {background-image: url('../../../img/camera3.png');}
  .camera_con_05 {background-image: url('../../../img/camera4.png');}
  .camera_con_06 {background-image: url('../../../img/camera5.png');}
  .camera_con_07 {background-image: url('../../../img/camera6.png');}
  .camera_con_08 {background-image: url('../../../img/camera7.png');}

  .lens_bg {
    display: none;
    position: absolute; left: 0; top: 85%;
    width: 1024px; width: 100vw; height: 150px;
    padding: 1%; box-sizing: border-box;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
  }
  .lens_menu {
    width: 100%; height: 100%;
  }
  .lens_menu li {
    float: left;
    width: 20%; height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .lens_menu li span {
    text-align: center;
    color:#111;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 18;
  }
  .lens_con_01 {background-image: url('../../../img/camera0.png');}
  .lens_con_02 {background-image: url('../../../img/l5.jpg');
  background-size: 40%;}
  .lens_con_03 {background-image: url('../../../img/l1.jpg');
  background-size: 50%;}
  .lens_con_04 {background-image: url('../../../img/l9.jpg');
  background-size: 40%;}
  .lens_con_05 {background-image: url('../../../img/l7.jpg');
  background-size: 50%;}

  /* .camera_bgbg,
  .lens_bgbg {
    width: 100%; height: 100%;
  } */


  /* -------------------------------------------- */



   .menu .menu_bg {
     width: 100%; height: auto;
     display: none;
    }
   .menu dd > .menu_full {
     width: 100%; height: 100%;
     background-color: #111;
    }
   .menu dd > .menu_full li {
     width: 100%; height: 40px;
     padding: 5px; box-sizing: border-box;
    }
   .menu a {
     display: block; 
     width: 100%; height: 100%; 
     background-color: transparent; 
     font-size: 1rem;
     line-height: 40px;
    }
    .menu dd > ul li a {
      font-size: 0.8rem;
    }

    .menu dt.action a {
      color:#d42027; 
      font-weight: bold;
      font-size: 1.2rem;
    }
    .menu dd  li.action{
      color:#d42027;
      font-weight: bold;
      font-size: 0.8rem;
    }
   /* .menu a:hover,
   .menu a:focus{font-weight: bold; color: #fff; color: #d42027;}
   .menu li:hover dd{display: block;} */
   
   
  .btn_area_01 {
    position: absolute; bottom: 10px; right: 0;
    width: 66px; height: 40px;
    margin-top:-20px;
    line-height: 50px;
  }
  .button_01 i {
    font-size: 1.5rem;
    color:#fff;
  }
  .searchBox.action {
    position: absolute; top: 50px; right: 0;
    display: block;
    width: 300px; height: 60px;
    padding: 10px;
    border:1px solid #fff;
    box-sizing: border-box;
    background-color: #111;
  }
  .searchBox p {
    width: 100%; height: 100%;
    border-radius: 1rem;
    line-height: 40px;
    background-color: #fff;
  }
  .searchBox i {
    float:left;
    margin: 0 10px;
    line-height: 40px;
	}
  
  

  /* #viewBox =================================================== */
	#viewBox {
		height: 700px;
	}
	.view_img {
		position: relative;
		width: 100%; height: 100%;
		background-color: #d42027;
		background-image: url('../../..//img/max-bohme-F8sdX9nEx2Y-unsplash.jpg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}
	.view_text {
		position: absolute; top: 20%; left: 0;
		width: 100%; height: 20%;
	}
	.view_img p {
    margin-bottom: 100px;
		text-align: center;
		font-size: 3rem;
		font-weight: bold;
		color:#fff;
		text-shadow: 2px 2px #111;
	}


	/* #textBox======================================== */
	#textBox {
		height: auto;
		padding:5% 15%; box-sizing: border-box;
	}
	#textBox h2	{
		font-size: 2rem;
		line-height: 80px;
	}
	.text_area {
		width: 70%; height: 100%;
		margin: auto;
		font-size: 1.2rem;
		word-break: break-all;
	}
	


	/* infoBox========================================= */
	#infoBox {
		height: 2000px; height: 195.3125vw;
		padding: 10%; box-sizing: border-box;
	}
	.info_full {
    position: relative;
		float: left;
    width: 100%; height: 28%;
    margin-bottom: 10%;
  }
  .info_full:last-child {
    margin-bottom: 0;
  }
	.info_full2 {
		float: right;
		position: relative;
    width: 100%; height: 28%; 
    margin-bottom: 10%;
	}
	.info_area {
		position: relative;
		width: 42%; height: 55%; 
		background-color: #d42027;
	}
	.info_area > div {
		position: absolute; top: 5%; left: 5%;
		width: 100%; height: 100%;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}
	
	.info_img_01 {
		background-image: url('../../../img/info1.png');
	}
	.info_img_02 {
		background-image: url('../../../img/info2.png');
	}
	.info_img_03 {
		background-image: url('../../../img/info3.png');
	}

	.info_text {
    position: absolute; top: 25%; right: 0;
		float: right;
		width: 50%; height: auto;
		word-break: keep-all;
		font-size: 1rem;
	}
	.info_2 {
		float:right;
	}
	.info2_text {
		position: absolute; bottom: 50%; left: 0;
		width: 50%; height: auto;
		word-break: keep-all;
		font-size: 1rem;
  }
  
  .info_text h3 {
    width: auto; height: auto;
    margin-bottom: 50px;
  }
  .info2_text h3 {
    width: auto; height: auto;
    margin-bottom: 50px;
  }
  
	.info_area > div:hover,
	.info_area > div:focus {
		background-size: 200%;
		transition: all 400ms ease;
	}
	.info_text:hover h3,
	.info_text:focus h3 {
    margin-bottom: 60px;
		font-size: 2rem;
		color:#d42027;
		transition: all 400ms ease;
	}
	.info2_text:hover h3,
	.info2_text:focus h3 {
    margin-bottom: 60px;
		font-size: 2rem;
		color:#d42027;
		transition: all 400ms ease;
	}
	
/* ------------------------------------------------ */

#listBox {
	width: 100%; height: 400px;
	padding: 5%; box-sizing: border-box;
	background-color: #fff;
}

.list_area {
	width: 100%; height: 100%;
}
.list_area ul {
	width: 100%; height: 100%;
}
.list_area li {
	position: relative;
	width: 100%; height: 33.333333%;
	border-bottom: 1px solid #111;
	font-weight: bold;
	line-height: 100px;
  font-size: 1.5rem;
  text-indent: 3rem;
}
.list_area li:hover,
.list_area li:focus {
	font-size: 2rem;
	transition: all 300ms ease;
	color:#d42027;
}

.list_area li:last-child {
	border: 0;
}
.list_area li a {
	display: block;
	width: 100%; height: 100%;
}
.list_area li i {
	position: absolute; top: 30%; right: 0;
	float:right;
  font-size: 2.5rem;
  text-indent: -5rem;
}


/* #menuBox=================================== */
#menuBox {
	position: relative;
	height: 400px; height: 39.0625vw;
	max-height: 600px;
}
.bottom_menu {
	/* float: left; */
	width: 100%; height: 100%;
	margin:auto;
	padding: 5% 10%; box-sizing: border-box;
}
.bottom_menu li {
	float:left;
	width: 23%; height: 10%;
}
.bottom_menu dl {
	width: 100%; height: 100%;
}
.bottom_menu dt {
	height: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #fff;
	font-size: 1.2rem;
	font-weight: bold;
  text-transform: capitalize;
  text-indent: 0.9rem;
	color:#d42027;
}
.bottom_menu dd {
	width: 100%; height: 700%;
}
.bottom_menu dd ul {
	width: 100%; height: 100%;
}
.bottom_menu dd ul li {
	float:left;
	width: 100%; height: 20%;
	margin-bottom: 10px;
	font-weight: lighter;
	text-transform: capitalize;
	color:#fff;
}

.menu_area dt.action a 
	{ color:#d42027; font-weight: bold;}
	.menu_area dd li.action{
		color:#d42027;
		font-weight: bold;
	}
.bottom_menu a {
	display: block;
	width: 100%; height: 100%;
}

.snsBox {
	position: absolute; top: 20%; right: 10%;
	float:right;
	width: 80px; height: 140px;
	background-color: #111;
}
.snsBox > ul {
	width: 100%; height: 100%;
}
.snsBox ul li {
	float:left;
	width: 100%; height: 50%;
	margin-bottom:10px;
	background-color: #111;
}
.snsBox ul li a:hover,
.snsBox ul li a:focus {
	border-radius: 2.5rem;
	border:2px solid #d42027;
}

.facebook {
	display: block;
	width: 100%; height: 100%;
	background-image: url('../../../img/leica-icon/facebook.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.instagram {
	display: block;
	width: 100%; height: 100%;
	background-image: url('../../../img/leica-icon/instagram.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}



/* #footBox=================================== */
#footBox {
padding:20px; box-sizing: border-box;
}
#footBox p {
text-align: center;
font-size: 1rem;
color:#fff;
}

}